.selector {
    min-width: 330px;
}

.shapes-list-controls {
    padding: 20px;
}

.shapes-list-controls > div {
    margin: 10px 0;
}

.shapes-list {
    height: 100%;
    overflow-y: auto;
    background: white;
    border-top: 1px solid #ced4da;
    color: #212529;
}

.shapes-list > div {
    padding: 10px;
    user-select: none;
    border-bottom: lightgray 0.3px solid;
}

.shapes-list > div:hover {
    background: #e2e2e2;
}

.shapes-list > .displayed {
    background: #e2e2e2;
}

#displayed-shape-id {
    background: white;
    padding: 20px;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

th:nth-child(2) {
    text-align: right;
}

table.prolog tr *:nth-child(1) {
    text-align: right;
    border-right: thin solid black;
    padding-right: 0.5em;
}

table.prolog tr *:nth-child(2) {
    padding-left: 0.5em;
}

/*
table.prolog tr *:nth-child(1)::after {
    padding-left: .5em;
    content: '|';
}
*/

.shapeExpr td {
    vertical-align: top;
    line-height: 2.1ex;
}

.shapeExpr {
    border: thin dotted #777;
    padding: 1em;
}

/*
.shapeExpr *:nth-child(1) {
    font-size: 3ex;
    line-height: 1.5ex;
}
*/
